<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>MANAGER</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-route.js"></script>
        <script src="js/manager.js"></script>
    </head>
    <body>
        
        <div class="container">
            <label for="email-input">Email</label>
            <input type="email" ng-model="email" placeholder="firstname.lastname@centre.edu" id="email-input">
            <label for="password-input">Password</label>
            <input type="password" ng-model="password" placeholder="password" id="password-input">
            <button ng-click="login()" type="button">Login</button>
            <button ng-click="createAccount()" type="button" class="red-btn">Sign Up</button>
        </div>
        
    </body>
</html>