<div class="header">
    <header>
        <h1>Logo</h1>
    </header>
    <div class="tag">
        <h2><a class="navtab" id="home"  ng-click="goHome()">Home</a></h2>
    </div>
    <div class="tag">
        <h2><a class="navtab" id="groups" ng-click="goGroups()">Groups</a></h2>
    </div>
    <div class="tag">
        <h2><a class="navtab" id="grades" ng-click="goGrades()">Grades</a></h2>
    </div>
    <div class="tag">
        <h2><a class="navtab" id="assignments" ng-click="goAssignments()">Assignments</a></h2>
    </div>
</div>